.laboratorio {
  float: left;
  width: 350px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  margin-top: 20px;
  margin-right: 25px;
  display: flex;
}

.laboratorioStatusColor {
  float: left;
  width: 40px;
  padding-top: 33px;
  padding-bottom: 20px;
  padding-left: 7px;
}

.laboratorioStatusVerde {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  background-color: #09ff00;
}

.laboratorioStatusVermelho {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  background-color: #ff0000;
}

.laboratorioStatusAmarelo {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  background-color: #ffee00;
}

.separator {
  float: left;
  margin-top: 14px;
  margin-left: 10px;
  height: 80px;
  opacity: 0.2;
  border-left: 2px solid;
  box-sizing: border-box;
}

.laboratorioInfo {
  display: inline-block;
  width: 260px;
}

.laboratorioName h1 {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 18px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.laboratorioLocation h1 {
  padding-left: 10px;
  font-size: 14px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.laboratorioStatus {
  display: inline-flex;
  margin-top: 7px;
  width: 250px;
}

.laboratorioStatus h2 {
  padding-left: 10px;
  font-size: 12px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.laboratorioStatus h3 {
  padding-left: 5px;
  font-size: 12px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.laboratorioCapacity {
  display: inline-flex;
  margin-top: 2px;
  margin-bottom: 7px;
  width: 250px;
}

.laboratorioCapacity h2 {
  padding-left: 10px;
  font-size: 13px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.laboratorioCapacity h3 {
  padding-left: 5px;
  font-size: 13px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.laboratorioMenu {
  margin: 0;
  padding: 0;
  display: inline;
  background: #ffffff;
}

.laboratorioMenu {
  list-style: none;
}

.laboratorioMenu li:hover ul {
  display: block;
}

.laboratorioMenu li:hover li button {
  background: none;
}

.laboratorioMenu li:hover li p {
  background: none;
}

.laboratorioSubMenu {
  float: left;
  padding: 0px;
}

.laboratorioSubMenu p {
  float: right;
  margin-top: 5px;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  background: rgba(255, 0, 0, 1);
  border: none;
  background: url('../../../../assets/Pontos.png') no-repeat;
  background-position: center;
  text-indent: -9999px;
}

.laboratorioSubMenu:hover p {
  text-decoration: none;
  cursor: pointer;
}

.laboratorioSubMenu p:hover {
  text-decoration: none;
  cursor: pointer;
}

.laboratorioSubMenu ul {
  padding: 0px;
  margin-top: 12px;
  margin-left: -110px;
  border: 0px;
  border-radius: 8px;
  z-index: 200;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: none;
  height: auto;
  position: absolute;
}

.laboratorioSubSubMenu {
  margin: 0px;
  padding: 0px;
  max-width: 200px;
  word-wrap: break-word;
  float: none;
  display: block;
}

.laboratorioSubSubMenu button {
  margin: 0px;
  display: block;
  min-width: 150px;
  max-height: 70px;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  text-decoration: none;
  background-color: rgba(10, 23, 55, 0);
  border: none;
  display: inline-block;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.laboratorioSubSubMenu:hover {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.15);
}
.laboratorioSubSubMenu:active {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
}
