.login {
  float: left;
  background: #000000 url('../../../assets/Fundo.png') no-repeat;
  height: 100%;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
}

.loginLogo {
  position: absolute;
  /* float: left; */
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 27.5%;
}

.loginVerticalBar {
  border-left: 3px solid #ffffff;
  float: left;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 33%;
}
