.globaltoolbar {
  left: 0px;
  top: 0px;
  float: left;
  width: 100%;
  background: linear-gradient(
      0deg,
      rgba(45, 41, 255, 0.4725) -28.07%,
      rgba(255, 255, 255, 0) 72.59%
    ),
    #000080;
  flex-grow: 1;
  position: 'static';
  white-space: pre-line;
}

.globaltoolbar img {
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 100px;
  height: 50px;
}

.grow {
  flex-grow: 1;
}

.globaltoolbarInfoUser {
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  position: absolute;
  clear: left;
  right: 0;
}

.globaltoolbarInfoUser img {
  float: left;
  background-color: rgba(10, 23, 55, 0);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  overflow: 'hidden';
  position: 'relative';
  margin-right: 10px;
}

.globaltoolbarInfo {
  float: left;
  margin-right: 10px;
  align-items: center;
}

.globaltoolbarName {
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  max-width: 100px;
  height: 30px;
  color: #ffffff;
  font-weight: bold;
  overflow: hidden;
}

.globaltoolbarRank {
  bottom: 0px;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  max-height: 30px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 5px;
  overflow: hidden;
}

.globaltoolbarSeparador {
  padding-top: 50px;
  float: left;
  width: 1px;
  border: 1.5px solid;
  border-top: 0;
  border-bottom: 0;
  border-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  border-image-slice: 1;
}

.globaltoolbarInfoUser button {
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgba(10, 23, 55, 0);
  height: 50px;
  border: none;
  color: white;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px; /*Define o arredondamento do objeto*/
}

.globaltoolbarInfoUser button:hover {
  background: rgb(255, 255, 255, 0.15);
}
.globaltoolbarInfoUser button:focus {
  background: rgb(255, 255, 255, 0.3);
}
