@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

.globaltitle {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.globaltitleBackground {
  width: 100%;
  height: 50px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(
    -30deg,
    #2400bd,
    #1f00a6 20%,
    #230a84 40%,
    #291b56 20%
  );
}

.globaltitleTitle {
  float: left;
  height: 39px;
  margin-top: 5px;
  min-width: 150px;
  max-width: 400px;
  word-wrap: break-word;
  background: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.globaltitleName {
  margin-left: 20px;
  margin-right: 20px;
}

.globaltitleItem {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}
