.menu {
  height: 3.75rem;
  margin-bottom: 0.25rem;
  display: flex;
  align-items: center;
  list-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menuItem {
  margin-left: 0.5rem;
}

.menuItemName {
  min-width: 8rem;
  word-wrap: break-word;
  text-align: center;
  font-size: 1.125rem;
}

.menuItemName:hover {
  color: #000080;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  padding: 1.25rem;
  border: 0px;
  border-radius: 1.25rem;
  background: #000080;
}

.menuItem:hover > .dropdown {
  min-width: 8rem;
  display: flex;
}

.dropdownItem {
  display: block;
  margin-right: 2.25rem;
  word-wrap: break-word;
}

.dropdownItem:last-child {
  margin-right: 0;
}

.dropdownLink {
  max-height: 70px;
  font-size: 1.125rem;
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff;
}

.dropdownLink:hover {
  border: 0px;
  color: #ffffff;
  text-decoration: underline;
}

.dropdownItem::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 3.5rem;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #000080;
}
