.menu {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 100%;
  border-style: none none solid none;
  border-color: #c3c3c3;
  border-width: 2px;
}

.menuMenu {
  margin: 0;
  padding: 0;
  display: inline;
  background: #ffffff;
  list-style: none;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.menuMenu li:hover ul {
  display: block;
}

.menuMenu li:hover li a {
  background: none;
}

.menuMenu li:hover li p {
  background: none;
}

.menuSubMenu {
  float: left;
  padding: 0px;
}

.menuSubMenu p {
  margin: 0px;
  padding: 0px 25px;
  display: block;
  min-width: 150px;
  max-width: 200px;
  word-wrap: break-word;
  color: #000000;
  font-weight: bold;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
}

.menuSubMenu:hover p {
  color: #000080;
  text-decoration: none;
  cursor: pointer;
}

.menuSubMenu p:hover {
  color: #000080;
  text-decoration: none;
  cursor: pointer;
}

.menuSubMenu ul {
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-radius: 8px;
  z-index: 200;
  background: #000080;
  display: none;
  height: auto;
  position: absolute;
}

.menuSubSubMenu {
  margin: 0px;
  padding: 0px;
  max-width: 200px;
  word-wrap: break-word;
  float: none;
  display: block;
}

.menuSubSubMenu a {
  float: left;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  display: block;
  min-width: 150px;
  max-height: 70px;
  border-radius: 5px;
  font-weight: bold;
  line-height: 35px;
  text-align: left;
  font-size: 12px;
  font-style: normal;
  text-decoration: none;
  color: #ffffff;
}

.menuSubSubMenu a:hover,
.menuSubSubMenu:hover a {
  border: 0px;
  color: #ffffff;
  text-decoration: underline;
}

.menuSubMenu .menuSubSubMenu:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent #000080 transparent;
}
