.modalDelete {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.modalDeleteBox {
  position: absolute;
  top: 35%;
  left: 25%;
  right: 25%;
  width: 50%;
  background-color: white;
  z-index: 3;
}
.modalDeleteBox.off {
  opacity: 0;
  visibility: hidden;
  filter: blur(8px);
  transform: scale(0.33);
  box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
}

.modalDeleteTitle {
  background: #000080;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: 15px;
}

.modalDeleteText {
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
}

.modalDeleteActions {
  height: 42px;
  border-top: 1px solid #ccc;
  background: #eeeeee;
}

.modalDeleteNot {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.modalDeleteNot button {
  background-color: #eeeeee;
  border-radius: 5px;
  height: 30px;
  width: 100px;
}

.modalDeleteNot button:hover {
  background-color: #ccc;
}

.modalDeleteYes {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.modalDeleteYes button {
  background-color: #000080;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  color: white;
}

.modalDeleteYes button:hover {
  background-color: #0202b9;
}
