.menuItem {
  border: 0 none;
  background: transparent;
}

.dropdown {
  min-width: 8rem;
  display: flex;
  margin-top: 3rem;
  position: absolute;
  padding: 1.25rem;
  border: 0px;
  border-radius: 1.25rem;
  background: #000080;
}

/* TODO: Improve item spacing approach */
.dropdown > * {
  margin-left: 2.25rem;
}

.dropdown > *:first-child {
  margin-left: 0;
}

.dropdown::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 3.5rem;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #000080;
}
